<header class="header">
	<div class="header__top">
		<div class="header__top-container container">
			<div class="header__worktime-and-location">
				<div class="header__worktime">
					<svg width="20" height="20">
						<use href="./assets/img/svg/sprite.svg#time"></use>
					</svg>
					<span>Режим работы: с 8.00 до 22.00</span>
				</div>

				<a href="https://a-sharik.ru/kontakty" class="header__location">
					<svg width="20" height="20">
						<use href="./assets/img/svg/sprite.svg#location"></use>
					</svg>
					<span>Варшавское шоссе, 37А</span>
				</a>
			</div>

			<div class="header__links">
				<div class="header__socials">
					<a href="#" target="_blank" class="social social--wt btn-reset">
						<span>WhatsApp</span>
						<svg width="20" height="20">
							<use href="./assets/img/svg/sprite.svg#wt"></use>
						</svg>
					</a>

					<a href="#" target="_blank" class="social social--tg btn-reset">
						<span>Telegram</span>
						<svg width="20" height="20">
							<use href="./assets/img/svg/sprite.svg#tg"></use>
						</svg>
					</a>
				</div>

				<a href="mailto:info@ashar.ru" class="header__email">info@ashar.ru</a>
				<a href="tel:+74952302345" class="header__phone-text-link"
					>+7 (495) 230-23-45 </a
				>
				<a href="tel:+74952302345" class="header__phone-btn-link btn-reset">
					<svg width="20" height="20">
						<use href="./assets/img/svg/sprite.svg#phone"></use>
					</svg>
					<span>Перезвоните мне</span>
				</a>
			</div>
		</div>
	</div>

	<div class="header__body">
		<div class="header__body-container container">
			<a href="/" class="logo header__logo">
				<img
					class="logo__img"
					width="160"
					height="57"
					src="./assets/img/svg/logo.svg"
					alt="logo" />
			</a>

			<form class="search-form" action="#" method="get">
				<input
					type="text"
					placeholder="Например, шар в форме сердца"
					class="search-form__field input-reset"
					name="query"
					value="" />

				<button
					class="search-form__btn btn-reset"
					aria-label="Поиск"
					title="Поиск">
					<svg width="18" height="18">
						<use href="./assets/img/svg/sprite.svg#search"></use>
					</svg>
				</button>
			</form>

			<form class="search-form search-form-mobile" action="#" method="get">
				<input
					type="text"
					placeholder="Например, шар в форме сердца"
					class="search-form__field input-reset"
					name="query"
					value="" />

				<button
					type="button"
					class="search-form__btn btn-reset"
					aria-label="Закрыть форму">
					<svg width="18" height="18">
						<use href="./assets/img/svg/sprite.svg#close"></use>
					</svg>
				</button>
			</form>

			<nav class="mobile-menu">
				<ul class="menu list-reset">
					<li class="menu__item">
						<a href="#" class="menu__link">Распродажа</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">Доставка</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">Оплата</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">О нас</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">Отзывы</a>
					</li>
					<li class="menu__item">
						<a href="#" class="menu__link">Контакты</a>
					</li>
				</ul>
			</nav>

			<div class="header__actions">
				<button
					class="mobile-search-icon btn-reset"
					aria-label="Открыть форму поиска">
					<svg width="30" height="30">
						<use href="./assets/img/svg/sprite.svg#search"></use>
					</svg>
				</button>
				<a
					class="cart-link"
					href="/korzina"
					aria-label="Корзина"
					title="Корзина">
					<svg width="40" height="40">
						<use href="./assets/img/svg/sprite.svg#cart"></use>
					</svg>
					<span class="cart-link__count count">9</span>
				</a>

				<button class="header__burger burger btn-reset">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="header__bottom-container container">
			<div class="header__bottom-nav">
				<div href="#" class="catalog-link">
					<svg width="20" height="20">
						<use href="./assets/img/svg/sprite.svg#menu"></use>
					</svg>

					<span>Каталог шаров</span>
				</div>

				<ul class="catalog-menu list-reset">
					<li>
						<a href="#" class="catalog-menu__link">
							<svg width="24" height="24">
								<use href="./assets/img/svg/sprite.svg#birthday"></use>
							</svg>
							<span>День рождения</span>
						</a>
					</li>
					<li>
						<a href="#" class="catalog-menu__link">
							<svg width="24" height="24">
								<use href="./assets/img/svg/sprite.svg#kid"></use>
							</svg>
							<span>Шарики детям</span>
						</a>
					</li>
					<li>
						<a href="#" class="catalog-menu__link">
							<svg width="24" height="24">
								<use href="./assets/img/svg/sprite.svg#baby_carriage"></use>
							</svg>
							<span>Шары на выписку</span>
						</a>
					</li>
					<li>
						<a href="#" class="catalog-menu__link">
							<svg width="24" height="24">
								<use href="./assets/img/svg/sprite.svg#dress"></use>
							</svg>
							<span>Шарики на свадьбу</span>
						</a>
					</li>
					<li>
						<a href="#" class="catalog-menu__link">
							<svg width="24" height="24">
								<use href="./assets/img/svg/sprite.svg#usd"></use>
							</svg>
							<span>Шары-цифры</span>
						</a>
					</li>
					<li>
						<a href="#" class="catalog-menu__link">
							<svg width="24" height="24">
								<use href="./assets/img/svg/sprite.svg#confetti"></use>
							</svg>
							<span>Шарики c конфетти</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="top-menu-catalog-inner">
				<ul class="">
					<li class="menu-col">
						<a href="/vozdushnye-shary/">Воздушные шарики</a>
						<ul class="">
							<li class="menu-col">
								<a href="/vozdushnye-shary/shary-s-geliem/">Гелиевые шары</a>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/fontany-iz-sharov/"
									>Фонтаны из шаров</a
								>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/svetyashiesya-shary-so-svetodiodami/"
									>Светящиеся шары</a
								>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/shary-s-geliem/hvalebnye/"
									>Хвалебные</a
								>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/shary-s-geliem/oskorbitelnye/"
									>Оскорбительные</a
								>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/shari-s-konfetti/">С конфетти</a>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/shary-s-vashey-nadpisyu/"
									>С печатью Вашей надписи</a
								>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/bolshie-shary/">Большие шары</a>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/folgirovannye-shary/"
									>Фольгированные шары</a
								>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/shary-bukvy/">Буквы</a>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/shary-cifry/">Цифры</a>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/korobka-syurpriz-s-sharami/"
									>Коробки-сюрприз</a
								>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/figury-iz-sharov/"
									>Фигуры из шаров</a
								>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/cvety-iz-sharikov/"
									>Цветы из шаров</a
								>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/hodyachie-shary-figury/"
									>Ходячие шары</a
								>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/panno-iz-sharov/">Панно из шаров</a>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/shar-syurpriz/">Шар-сюрприз</a>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/salyut-iz-sharov/">Салют из шаров</a>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary-pod-potolok/">Шары под потолок</a>
							</li>
							<li class="menu-col">
								<a href="/vozdushnye-shary/steklyannye-shary-dabl-staff/"
									>Стеклянные шары</a
								>
							</li>
							<li class="menu-col">
								<a href="vozdushnye-shary/aeromozayki-iz-sharov/"
									>Аэромозайки из шаров</a
								>
							</li>
						</ul>
					</li>
					<li class="menu-col">
						<a href="">Коллекции</a>
						<ul class="">
							<li class="menu-col">
								<a href="/katalog/assorti/">Шары по цветам</a>
							</li>
							<li class="menu-col">
								<a href="/kollekcii/futbol/">Футбол</a>
							</li>
							<li class="menu-col">
								<a href="/kollekcii/mashinki/">Машинки</a>
							</li>
							<li class="menu-col">
								<a href="/kollekcii/edinorogi/">Единороги</a>
							</li>
							<li class="menu-col">
								<a href="/kollekcii/frukty/">Фрукты</a>
							</li>
							<li class="menu-col">
								<a href="/kollekcii/zhivotnye/">Животные</a>
							</li>
							<li class="menu-col">
								<a href="/kollekcii/sladosti/">Сладости</a>
							</li>
							<li class="menu-col">
								<a href="/kollekcii/dzhungli/">Джунгли</a>
							</li>
							<li class="menu-col">
								<a href="/kollekcii/yumoristicheskie/">Юмористические</a>
							</li>
							<li class="menu-col">
								<a href="/kollekcii/dinozavry/">Динозавры</a>
							</li>
							<li class="menu-col"><a href="kollekcii/kosmos/">Космос</a></li>
						</ul>
					</li>
					<li class="menu-col">
						<a href="">События и праздники</a>
						<ul class="">
							<li class="menu-col">
								<a href="/katalog/shary-na-den-rozhdeniya/">День рождения</a>
							</li>
							<li class="menu-col">
								<a
									href="/katalog/shary-na-novyy-god/"
									style="
										color: rgb(7, 86, 232);
										--darkreader-inline-color: #429df9;
									"
									data-darkreader-inline-color=""
									>Новый год и Рождество</a
								>
							</li>
							<li class="menu-col">
								<a href="https://a-sharik.ru/katalog/shary-na-yubiley/"
									>Юбилей</a
								>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-na-vypisku-iz-roddoma/"
									>Выписка из роддома</a
								>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-na-devichnik/">Девичник</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/svidanie/">Свидание</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-vlyublennym/">Влюбленным</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-na-14-fevralya/">14 февраля</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-na-1-maya/">1 мая</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-na-9-maya/">9 мая</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-na-23-fevralya/">23 февраля</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-na-1-sentyabrya/">1 сентября</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-na-den-rossii/">День России</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-na-den-goroda/">День города</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-na-hellouin/">Хэллоуин</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-na-posledniy-zvonok/"
									>Последний звонок</a
								>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-na-vypusknoy/">Выпускной</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-na-den-materi/">День Матери</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/shary-na-8-marta/">8 Марта</a>
							</li>
						</ul>
					</li>
					<li class="menu-col">
						<a href="/oformlenie-sharami/">Оформление шарами</a>
						<ul class="">
							<li class="menu-col">
								<a href="oformlenie-sharami-na-den-rozhdeniya/">Дня рождения</a>
							</li>
							<li class="menu-col">
								<a href="/oformlenie-svadby-sharami/">Свадьбы</a>
							</li>
							<li class="menu-col">
								<a href="/fotozona-iz-sharov/">Фотозоны</a>
							</li>
							<li class="menu-col"><a href="/arki-iz-sharov/">Арки</a></li>
							<li class="menu-col">
								<a href="/girlyandy-iz-sharov/">Гирлянды</a>
							</li>
							<li class="menu-col">
								<a href="/shariki-na-korporativ/">Корпоративов</a>
							</li>
							<li class="menu-col">
								<a href="/shariki-na-otkrytie-magazina/">Открытия магазина</a>
							</li>
							<li class="menu-col">
								<a href="/oformlenie-shkoly-sharami/">Школы</a>
							</li>
							<li class="menu-col">
								<a href="/oformlenie-vystavok-sharami/">Выставок</a>
							</li>
							<li class="menu-col">
								<a href="/oformlenie-sceny-sharami/">Сцены</a>
							</li>
							<li class="menu-col">
								<a href="/oformlenie-sharikami-detskogo-sada/">Детского сада</a>
							</li>
							<li class="menu-col">
								<a href="/oformlenie-sharami-detskih-prazdnikov/"
									>Детских праздников</a
								>
							</li>
						</ul>
					</li>
					<li class="menu-col">
						<a href="/geroi-i-personazhi/">Герои и персонажи</a>
						<ul class="">
							<li class="menu-col">
								<a href="/katalog/tri-kota/">Три кота</a>
							</li>
							<li class="menu-col">
								<a href="katalog/garri-potter/">Гарри Поттер</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/smeshariki/">Смешарики</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/holodnoe-serdce/">Холодное сердце</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/masha-i-medved/">Маша и Медведь</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/chelovek-pauk/">Человек-паук</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/barboskiny/">Барбоскины</a>
							</li>
							<li class="menu-col"><a href="/katalog/tachki/">Тачки</a></li>
							<li class="menu-col">
								<a href="/katalog/vinni-puh/">Винни Пух</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/svinka-peppa/">Свинка Пеппа</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/spanch-bob/">Спанч Боб</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/hello-kitty/">Hello Kitty</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/supergeroi/">Супергерои</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/mi-mi-mishki/">Ми-ми-мишки</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/shenyachiy-patrul/">Щенячий патруль</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/mikki-i-minni-maus/">Микки и Минни Маус</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/maynkraft/">Майнкрафт</a>
							</li>
							<li class="menu-col">
								<a href="https://a-sharik.ru/katalog/korol-lev/">Король Лев</a>
							</li>
							<li class="menu-col">
								<a href="/katalog/siniy-traktor/">Синий Трактор</a>
							</li>
							<li class="menu-col">
								<a href="https://a-sharik.ru/katalog/cheburashka/">Чебурашка</a>
							</li>
							<li class="menu-col">
								<a href="https://a-sharik.ru/katalog/rusalochka/">Русалочка</a>
							</li>
							<li class="menu-col">
								<a href="https://a-sharik.ru/katalog/kukly-lol/"
									>Куклы ЛОЛ (LOL)</a
								>
							</li>
							<li class="menu-col">
								<a href="https://a-sharik.ru/katalog/princessy/">Принцессы</a>
							</li>
							<li class="menu-col">
								<a href="https://a-sharik.ru/katalog/buba/">Буба</a>
							</li>
							<li class="menu-col">
								<a href="https://a-sharik.ru/katalog/uensdey-wednesday/"
									>Wednesday (Уэнсдей)</a
								>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
