@use "../helpers/mixins" as *;

.header {
	&__container {
	}

	&__top {
		padding: 14px 0;
	}

	&__top-container {
		display: flex;

		@media screen and (max-width: 1300px) {
			flex-direction: column;
			gap: 16px;
		}
	}

	&__worktime-and-location {
		display: flex;
		gap: 6px 30px;

		margin-right: 96px;

		@media screen and (max-width: 1380px) {
			margin-right: 20px;
		}

		@media screen and (max-width: 1300px) {
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}

	&__worktime,
	&__location {
		display: flex;
		align-items: center;
		gap: 10px;

		font-weight: 400;
		font-size: 14px;
		text-decoration: underline;
		text-decoration-style: dashed;
		text-decoration-line: underline;
		text-underline-offset: 3px;
		color: #222;
	}

	&__worktime {
	}

	&__location {
		transition: color 220ms ease-in-out;
		@include hover {
			color: #666;
		}
	}

	&__links {
		flex-grow: 1;

		display: flex;
		align-items: center;

		@media screen and (max-width: 720px) {
			justify-content: space-between;
		}
	}

	&__socials {
		display: flex;
		gap: 10px;

		@media screen and (max-width: 992px) {
			gap: 4px;
		}
	}

	&__email {
		margin-left: auto;
		margin-right: 30px;
		display: block;

		font-weight: 400;
		font-size: 16px;
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: #169ef1;
		transition: color 220ms ease-in-out;

		@include hover {
			color: #116aa1;
		}

		@media screen and (max-width: 992px) {
			margin-right: 24px;
		}

		@media screen and (max-width: 720px) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&__phone-text-link {
		display: block;
		margin-right: 16px;

		font-weight: 600;
		font-size: 20px;
		color: #222;
		transition: color 220ms ease-in-out;

		@include hover {
			color: #666;
		}

		@media screen and (max-width: 992px) {
			margin-right: 24px;
		}

		@media screen and (max-width: 720px) {
			display: none;
		}
	}

	&__phone-btn-link {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		padding: 0 16px;
		border-radius: 6px;
		gap: 10px;
		height: 44px;

		font-weight: 600;
		font-size: 14px;

		background-color: #d4f7de;
		color: #00992c;
		transition: background-color 220ms ease-in-out;

		@include hover {
			background-color: #00992c;
			color: #d4f7de;
		}

		&:active {
			scale: 0.99;
		}

		@media screen and (max-width: 840px) {
			span {
				display: none;
			}
		}
	}

	&__body {
		background-color: #3fb2f8;
		padding: 14px 0;
	}

	&__burger {
		display: none;

		@media screen and (max-width: 992px) {
			display: block;
		}
	}

	&__actions {
		display: flex;
		gap: 20px;
	}

	&__body-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;

		.search-form {
			flex-grow: 1;
			max-width: 420px;

			@media screen and (max-width: 992px) {
				max-width: 100%;
			}
		}
	}

	&__bottom {
	}
}

.mobile-menu {
	@media screen and (max-width: 992px) {
		position: fixed;
		display: none;

		.menu {
			flex-direction: column;
		}
	}
}

.search-form {
	position: relative;

	&__field {
		padding: 10px 40px 10px 20px;

		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		color: #111;

		border-radius: 6px;
		background-color: #fff;

		&:focus {
			outline: 1px solid #222;
		}

		&::placeholder {
			color: #76aecf;
		}
	}

	&__btn {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
	}
}

.menu {
	display: flex;
	gap: 30px;

	@media screen and (max-width: 1200px) {
		gap: 15px;
	}

	&__item {
	}

	&__link {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 18px;
		color: #fff;
		transition: color 220ms ease-in-out;
		text-decoration: none;

		@media screen and (max-width: 1200px) {
			font-size: 16px;
		}

		@include hover {
			color: #f7443a;
		}
	}
}

.cart-link {
	display: inline-block;
	position: relative;
	color: #fff;
	transition: color 220ms ease-in-out;

	@include hover {
		color: #f7443a;
	}

	&__count {
		position: absolute;
		z-index: 1;
		right: 1px;
		top: 1px;
	}
}

.count {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 12px;
	color: #fff;
	padding: 3px 6px;
	border-radius: 50%;
	background-color: #fc08b3;
}

.logo {
	display: block;

	&__img {
		width: 160px;
		height: 57px;

		@media screen and (max-width: 1200px) {
			width: 127px;
			height: 52px;
		}
	}
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;

	gap: 20px;

	padding: 0 16px;
	border-radius: 6px;

	font-weight: 600;
	font-size: 14px;
	transition: background-color 220ms ease-in-out;

	height: 44px;

	&:active {
		scale: 0.99;
	}

	@media screen and (max-width: 720px) {
		span {
			display: none;
		}
	}
}

.social--wt {
	background-color: #d4f7de;
	color: #00992c;

	@include hover {
		background-color: #00992c;
		color: #d4f7de;
	}
}

.social--tg {
	color: #169ef1;
	background-color: #d5efff;

	@include hover {
		background-color: #169ef1;
		color: #d5efff;
	}
}
