@use "../helpers/mixins" as *;

.header {
	&__container {
	}

	&__top {
		padding: 14px 0;
	}

	&__top-container {
		display: flex;

		@media screen and (max-width: 1300px) {
			flex-direction: column;
			gap: 16px;
		}
	}

	&__worktime-and-location {
		display: flex;
		gap: 6px 30px;

		margin-right: 96px;

		@media screen and (max-width: 1380px) {
			margin-right: 20px;
		}

		@media screen and (max-width: 1300px) {
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}

	&__worktime,
	&__location {
		display: flex;
		align-items: center;
		gap: 10px;

		font-weight: 400;
		font-size: 14px;
		text-decoration: underline;
		text-decoration-style: dashed;
		text-decoration-line: underline;
		text-underline-offset: 3px;
		color: #222;
	}

	&__worktime {
	}

	&__location {
		transition: color 220ms ease-in-out;
		@include hover {
			color: #666;
		}
	}

	&__links {
		flex-grow: 1;

		display: flex;
		align-items: center;

		@media screen and (max-width: 720px) {
			justify-content: space-between;
		}
	}

	&__socials {
		display: flex;
		gap: 10px;

		@media screen and (max-width: 992px) {
			gap: 4px;
		}
	}

	&__email {
		margin-left: auto;
		margin-right: 30px;
		display: block;

		font-weight: 400;
		font-size: 16px;
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: #169ef1;
		transition: color 220ms ease-in-out;

		@include hover {
			color: #116aa1;
		}

		@media screen and (max-width: 992px) {
			margin-right: 24px;
		}

		@media screen and (max-width: 720px) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&__phone-text-link {
		display: block;
		margin-right: 16px;

		font-weight: 600;
		font-size: 20px;
		color: #222;
		transition: color 220ms ease-in-out;

		@include hover {
			color: #666;
		}

		@media screen and (max-width: 992px) {
			margin-right: 24px;
		}

		@media screen and (max-width: 720px) {
			display: none;
		}
	}

	&__phone-btn-link {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
		padding: 0 16px;
		border-radius: 6px;
		gap: 10px;
		height: 44px;

		font-weight: 600;
		font-size: 14px;

		background-color: #d4f7de;
		color: #00992c;
		transition: background-color 220ms ease-in-out;

		@include hover {
			background-color: #00992c;
			color: #d4f7de;
		}

		&:active {
			scale: 0.99;
		}

		@media screen and (max-width: 840px) {
			span {
				display: none;
			}
		}
	}

	&__body {
		position: relative;

		background-color: #3fb2f8;
		padding: 14px 0;

		&::before {
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			width: 100%;
			height: 12px;

			background-image: url("../img/svg/header_wave.svg");
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}

	&__burger {
		display: none;

		@media screen and (max-width: 992px) {
			display: flex;
		}
	}

	&__actions {
		display: flex;
		gap: 20px;
	}

	&__body-container {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;

		.search-form {
			flex-grow: 1;
			max-width: 420px;

			@media screen and (max-width: 992px) {
				max-width: 100%;
			}
		}
	}

	&__bottom {
		padding-top: 22px;
		padding-bottom: 10px;
		background-color: #e2f4ff;
	}

	&__bottom-nav {
		display: flex;
		align-items: center;
		overflow-x: auto;
		gap: 20px;

		padding: 0 15px;
	}

	&__bottom-container {
		padding: 0;
	}
}

.catalog-link {
	user-select: none;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: 8px;

	border-radius: 8px;
	padding: 14px 20px;

	background-color: #34c65e;

	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 125%;
	color: #fff;
	text-decoration: none;
	transition: background-color 220ms ease-in-out;

	@include hover {
		background-color: #2ea04e;
	}

	@media screen and (max-width: 768px) {
		padding: 12px 14px;
	}
}

.catalog-menu {
	display: flex;
	gap: 4px;

	flex-shrink: 0;

	&__link {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		gap: 8px;

		min-width: 200px;

		border-radius: 8px;
		padding: 14px 10px;

		background-color: #fff;
		text-decoration: none;

		font-family: var(--font-family);
		font-weight: 500;
		font-size: 14px;
		line-height: 143%;
		color: #222;
		transition:
			color 220ms ease-in-out,
			background-color 220ms ease-in-out;

		@include hover {
			background-color: #116aa1;
			color: #fff;
		}

		@media screen and (max-width: 992px) {
			padding: 14px 24px;
			min-width: 0;
		}

		@media screen and (max-width: 768px) {
			padding: 12px 14px;
		}
	}
}

.mobile-menu {
	&.active {
		opacity: 1;
		visibility: visible;
	}
	transition:
		visibility 220ms ease-in-out,
		opacity 220ms ease-in-out;

	@media screen and (max-width: 992px) {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		z-index: 10;
		right: 0;
		top: 100%;
		width: 342px;

		border-radius: 16px 0 16px 16px;
		padding: 10px;

		box-shadow: -8px 16px 45px 0 rgba(118, 174, 207, 0.25);
		background: #e2f4ff;

		.menu {
			flex-direction: column;
			gap: 4px;

			.menu__link {
				position: relative;
				display: block;

				padding: 14px 24px;

				background-color: #fff;
				border-radius: 10px;

				font-family: var(--font-family);
				font-weight: 500;
				font-size: 16px;
				color: #169ef1;

				&::before {
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					right: 24px;
					width: 14px;
					height: 14px;

					background-image: url("../img/svg/arrow_next.svg");
					background-position: center center;
					background-repeat: no-repeat;
				}
			}
		}
	}

	@media screen and (max-width: 375px) {
		width: 250px;

		.menu {
			.menu__link {
				padding: 10px 16px;
				font-size: 14px;

				&::before {
					right: 16px;
				}
			}
		}
	}
}

.search-form {
	position: relative;

	@media screen and (max-width: 768px) {
		display: none;
	}

	&__field {
		padding: 0 40px 0 20px;
		height: 44px;

		font-family: var(--font-family);
		font-weight: 400;
		font-size: 14px;
		color: #111;

		border-radius: 6px;
		background-color: #fff;

		&:focus {
			outline: 1px solid #222;
		}

		&::placeholder {
			color: #76aecf;
		}
	}

	&__btn {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		color: #169ef1;
	}
}

.search-form-mobile {
	position: absolute;
	z-index: 2;
	right: 0;
	left: 0;

	padding: 0 12px;

	display: none;

	&.active {
		display: block;
	}

	.search-form__btn {
		right: 30px;
	}
}

.mobile-search-icon {
	display: none;
	color: #fff;

	@media screen and (max-width: 768px) {
		display: block;
	}
}

.menu {
	display: flex;
	gap: 30px;

	@media screen and (max-width: 1200px) {
		gap: 15px;
	}

	&__item {
	}

	&__link {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 16px;
		color: #fff;
		transition: color 220ms ease-in-out;
		text-decoration: none;

		@media screen and (max-width: 1200px) {
			font-size: 16px;
		}

		@include hover {
			color: #f7443a;
		}
	}
}

.cart-link {
	display: block;
	position: relative;
	color: #fff;
	transition: color 220ms ease-in-out;

	@include hover {
		color: #f7443a;
	}

	@media screen and (max-width: 768px) {
		svg {
			width: 30px;
			height: 30px;
		}
	}

	&__count {
		position: absolute;
		z-index: 1;
		right: 1px;
		top: 1px;

		@media screen and (max-width: 768px) {
			padding-top: 2px;
			padding-right: 4px;
			padding-left: 4px;
			padding-bottom: 2px;
			font-size: 9px;
		}
	}
}

.count {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 12px;
	color: #fff;
	padding: 3px 6px;
	border-radius: 50%;
	background-color: #fc08b3;
}

.logo {
	display: block;

	&__img {
		width: 160px;
		height: 57px;

		@media screen and (max-width: 1200px) {
			width: 127px;
			height: 52px;
		}

		@media screen and (max-width: 768px) {
			width: 95px;
			height: 38px;
		}
	}
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;

	gap: 20px;

	padding: 0 16px;
	border-radius: 6px;

	font-weight: 600;
	font-size: 14px;
	transition: background-color 220ms ease-in-out;

	height: 44px;

	&:active {
		scale: 0.99;
	}

	@media screen and (max-width: 720px) {
		span {
			display: none;
		}
	}
}

.social--wt {
	background-color: #d4f7de;
	color: #00992c;

	@include hover {
		background-color: #00992c;
		color: #d4f7de;
	}
}

.social--tg {
	color: #169ef1;
	background-color: #d5efff;

	@include hover {
		background-color: #169ef1;
		color: #d5efff;
	}
}
