@use "../helpers/mixins" as *;

.promo {
	font-family: var(--font-family);

	border-radius: 10px;
	padding: 14px;
	background-color: #fff;

	&__row {
		margin-bottom: 10px;

		display: flex;
		gap: 4px;
	}

	&__input {
		width: 100%;

		border: 1px solid var(--border);
		border-radius: 5px;
		padding: 12px 14px;

		font-weight: 400;
		font-size: 12px;
		color: var(--black);

		transition: border-color 150ms ease-in-out;

		&:focus {
			border-color: var(--black);
		}

		&::placeholder {
			color: #aaa;
		}
	}

	&__btn {
		border: 1px solid #404040;
		border-radius: 5px;
		padding: 12px 14px;
		transition:
			background-color 220ms ease-in-out,
			scale 50ms ease-in-out;

		@include hover {
			background-color: var(--border);
		}

		&:focus-visible {
			background-color: var(--border);
		}

		&:active {
			scale: 0.99;
		}
	}

	&__result {
		padding: 8px 20px;

		text-align: center;
		font-weight: 500;
		font-size: 11px;
		color: #8e8e8e;

		border-radius: 6px;
		background-color: #f7f7f7;
	}
}
